<ion-header>
  <ion-toolbar>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon name="add" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item class="ion-margin"  *ngFor="let offer of loadedOffers"
           [routerLink]="['/','places','tabs','offers',offer.id]"
            detail
          >
            <ion-thumbnail>
              <ion-img [src]="offer.imageUrl"></ion-img>
            </ion-thumbnail>
                <ion-label class="ion-text-center">
                    <h2>{{offer.title}}</h2>
                    </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
